<div class="login-page">
  <div class="login-card">
    <h2>Log in to your account</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input id="email" type="email" [(ngModel)]="model.email" name="email" placeholder="Email address" required>
      </div>
      <div class="form-group">
        <input id="password" type="password" [(ngModel)]="model.password" name="password" placeholder="Password" required>
      </div>
      <div class="forgot-password">
        <a href="#">Forgot your password?</a>
      </div>
      <button type="submit" class="login-button">Log In</button>
    </form>
    <div class="signup-link">
      <span>Don't have an account?</span>
      <a routerLink="/register">Sign up</a>
    </div>
  </div>
</div>
