<div class="job-list-container">
  <h2>Open Jobs</h2>
  <div class="job-grid" *ngIf="jobs$ | async as jobs; else loading">
    <div class="job-card" *ngFor="let job of jobs">
      <h3>{{ job.jobTitle }}</h3>
      <p class="company">{{ job.employerCompanyName }}</p>
      <p class="location">{{ job.location }}</p>
      <p class="salary">${{ job.salary }}</p>
      <a [routerLink]="['/jobs', job.id]">View Details</a>
    </div>
  </div>
  <ng-template #loading>
    <p>Loading jobs...</p>
  </ng-template>
</div>
